.card {
  background-color: #fff;
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 30px 7px rgba(221, 213, 213, 0.25), -5px -5px 30px 7px rgba(221, 213, 213, 0.25);
  cursor: pointer;
  transition: 0.4s;
}

.new-buy {
  background-color: #ff9800;
  color: #fff;
}